<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/quasar@2.12.0/dist/quasar.prod.css" rel="stylesheet" type="text/css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
<body>
    <div id="app">
        <q-toolbar class="shadow-2 bg-deep-purple-10 "><q-toolbar-title><q-btn color="grey" flat label="1 EZ GAME"></q-btn></q-toolbar-title>
            <q-btn-dropdown class="q-ma-sm" color="primary" label="Characters">
                <q-list bordered separator>
                    <q-item v-for="character in current_user.characters" clickable v-ripple><q-item-section>{{ character }}</q-item-section></q-item>
                    <q-item clickable v-ripple><q-item-section>Create new character</q-item-section></q-item>
                </q-list>
            </q-btn-dropdown>
            <q-btn-dropdown class="q-ma-sm" color="primary" label="login/register" v-if="current_user == null">
                <q-form ref="loginform" class="q-pa-sm" @submit="login">
                    <div><q-input class="q-pa-sm" v-model="formUsername" name="username" label="Username" /></div>
                    <div><q-input class="q-pa-sm" v-model="formPassword" name="password" type="password" label="Password" /></div>
                    <q-btn type="submit" label="Login" color="primary"></q-btn>
                    <q-btn label="Register" color="primary" @click="register"></q-btn>
                </q-form>
            </q-btn-dropdown>
            <q-btn class="q-ma-sm" v-if="current_user" :label="'Logout ' + current_user.id" color="primary" @click="logout"></q-btn>

        </q-toolbar>
        <div class="map q-pa-sm q-ma-md shadow-3 rounded-borders" id="map">
            <div v-for="(tile, index) in tiles">
                <div @mouseover="desc=tile.desc" @click="character_move(tile.x, tile.y)" class="tile" :class="[tile.tile_type]"><span style="position:absolute;">{{ tile.x }}, {{ tile.y }}</span>
                    <q-icon v-if="index == 12" class="absolute-center" color="yellow" name="person" size="2em"></q-icon>
                </div>
            </div>
        </div>
        <div id="description">{{ desc }}</div>
    </div>
    <div class="resource-orb" style="background: linear-gradient(to top, red, red 50%, transparent 50%, transparent 100%);bottom: 10px;left:20%;"></div>
    <div class="resource-orb" style="background: linear-gradient(to top, blue, blue 30%, transparent 30%, transparent 100%);bottom: 10px;right:20%;"></div>

    
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.12.0/dist/quasar.umd.prod.js"></script>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const app = Vue.createApp({
            data() {
                return {
                    formUsername: '',
                    formPassword: '',
                    tiles: null,
                    desc: null,
                    current_user: null,
                    current_character: null
                }
            },
            methods: {
                logout() {
                    axios.get('/logout').then(response => {
                        this.current_user = null;
                        this.current_character = null;
                        this.tiles = null;
                        this.desc = null;
                    });
                },
                login() {
                    axios.post('/login', { username: this.formUsername, password: this.formPassword}).then(response => {
                        this.gamestate();
                    });
                    this.formPassword = '';
                    this.formUsername = '';
                },
                register() {
                    axios.post('/register', { username: this.formUsername, password: this.formPassword}).then(response => {
                        this.login();
                    });
                },
                character_move(x, y) {
                    axios.get('/move', { params: {char: this.current_character, x: x, y: y}}).then(response => {
                        this.tiles = response.data.sort((tilea, tileb) => tilea.y - tileb.y || tilea.x - tileb.x);
                    });
                },
                gamestate() {
                    axios.get('/gamestate').then(response => {
                        this.current_user = response.data.current_user;
                        if (this.current_user) {
                            this.current_character = this.current_user.characters[0];
                            axios.get('/tiles?char=' + this.current_character).then(response => {this.tiles = response.data.sort((tilea, tileb) => tilea.y - tileb.y || tilea.x - tileb.x);});
                            console.log(this.current_character);
                        }
                    });
                }
            },
            mounted() {
                this.gamestate();
            }
        }).use(Quasar, {
            config: {
                loadingBar: {
                    skipHijack: true
                }
            }
        }).mount('#app');
    </script>
</body>
</html>
